@model List<Movie>



<h1>Film Listesi</h1>
<div id="filmler">

    @foreach (var item in Model)
    {
        <div class="film">
            <img src="/img/@item.ImageUrl" style="width:100px;" alt="@item.Title" />
            <p>@item.Title</p>
            <p>@item.Description</p>
            <p>@item.Director</p>
            <p>
                <ul>
                    @foreach (var oyuncu in item.Players)
                    {
                        <li>@oyuncu</li>
                    }
                </ul>
            </p>
        </div>
    }

</div>

@section menu
{
    @await Html.PartialAsync("_menu")
}